<div style="background:#F9EECF;border:1px dotted black;text-align:center">

<h2> <%= fname %> <%=lname %>  has changed his account details. </h2> 
    <h2> Original Account Information </h2> 
        <h4 class="country"> Username: <%=oldusername %> </h4>
        <h4 class="country"> Status: <%=oldstatus %> </h4>

    <h2> New Account Information </h2>
        <h4 class="country"> Username: <%= newusername %> </h4>
        <h4 class="country"> Status: <%= newstatus %> </h4>
</div>